<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
</head>
<body>
    <div>
        <h1><%= title %></h1>
        <table class="table" id = "result">
            <tr>
                <th scope="col">id</th>
                <th scope="col">RoomName</th>
                <th scope="col">date</th>
                <th scope="col">start time</th>
                <th scope="col">End Time</th>
            </tr>
            <%
            if(sampleData.length > 0){
                sampleData.forEach(function(results){
                %>
                    <tr>
                        <td><%= results.BookingID %></td>
                        <td><%= results.RName %></td>
                        <td><%= results.BookingDate %></td>
                        <td><%= results.StartTime %></td>
                        <td><%= results.EndTime %></td>
                    </tr>
                <%
                });
            }
            %>
        </table>

    </div>
</body>
</html>
